<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- Spring的配置文件，这里主要配置和业务逻辑相关的 -->
    <!-- 引入jdbc配置文件 -->
    <context:properties>

    </context:properties>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value=""></property>
        <property name="jdbcUrl" value=""></property>
        <property name="user" value=""></property>
        <property name="password" value=""></property>
    </bean>
</beans>